<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Viewport" content="witdth=device-width, initial-scale=1.0">
    <title>Truck</title>
</head>
<body>
    <h1>Formulaire Truck </h1>
    <form action="#" method="POST">
        <p>
            <!-- champ de type text -->
            <label for="Truck_id">Trucks id :  </label>
            <input type="text" name="id" required>
        </p>
        <p>
            <!-- champ de type text -->
            <label for="Provider_id">Provider id :   </label>
            <input type="number" name="provider_id" required>
        </p>
        <p>
            <!-- champ d'envoi -->
            <input  type="submit" value="Send the form">
            <!--<button type="submit" > send to form </button-->
        </p>
    </form>
</body>
</html>
